:root {
  --white: #f6f6f6;
  --light-pink: #feebef;
  --white-two: #ffffff;
  --dark-rose: #ba4961;
  --black: #000000;
  --darkish-pink: #e25a76;
  --greenish: #43a457;
  --french-blue: #4267b2;
  --azure: #00a0f6;
}

$font-family-base = 'Roboto', sans-serif;