@import '_variables'
@import '_utilities'

.Brt
  rem(16)
  background-color: var(--light-pink)
  min-height: 535px
  width: 100%
  max-width: 1060px
  margin: 0 auto
  display: flex
  -ms-flex-direction: column
  -webkit-box-orient: vertical
  -webkit-box-direction: normal
  flex-direction: column
  background-image: url(../images/brt-background@x3.png)
  background-size: contain
  background-repeat: no-repeat
  background-position: 100% 100%
  position: relative
  z-index: 1
  overflow: hidden
  outline: 0
  font-family: $font-family-base
  & a
   color: var(--azure)

.Brt-title
  rem(34)
  font-weight: 900
  font-style: normal
  font-stretch: normal
  line-height: 1.18
  letter-spacing: normal
  text-align: left
  color: var(--black)
  display: -ms-flexbox
  display: -webkit-box
  display: flex
  width: 50%
  padding-bottom: 18px
  padding-left: 40px

.Brt-description
  rem(18)
  font-weight: normal
  font-style: normal
  font-stretch: normal
  line-height: 1.5
  letter-spacing: normal
  text-align: left
  color: var(--black)
  display: -ms-flexbox
  display: -webkit-box
  display: flex
  width: 50%
  padding-left: 40px

.Brt-header
  display: -ms-flexbox
  display: -webkit-box
  display: flex
  width: 50%
  justify-content: flex-end
  padding-top: 68px
  padding-bottom: 7px

.Brt-test-box
  border: solid 1px var(--darkish-pink)
  background-color: var(--darkish-pink)
  rem(18)
  font-weight: normal
  font-style: normal
  font-stretch: normal
  line-height: normal
  letter-spacing: normal
  text-align: left
  color: var(--white-two)
  padding-left: 13px
  padding-right: 13px
  padding-top: 7px
  padding-bottom: 4px
  position: relative
  &:after
    content: ""
    width: 0
    height: 0
    border-left: 16px solid var(--dark-rose)
    border-right: 13px solid transparent
    border-bottom: 12px solid transparent
    position: absolute
    top: 100%
    left: 100%
    transform: translate(-50%, 0)

.Brt-footer
  padding-left: 40px
  padding-bottom: 40px

.Brt-content
  flex: 1
  position: relative
  z-index: 1


.Brt-image-block--coffee
  width: 50%
  position: absolute
  right: 0
  bottom: 0
  text-align: right
  line-height: 0

.Brt-image-block--money
  width: 55%
  position: absolute
  left: 0
  bottom: 122px
  text-align: right

.Brt-image-block--tinkoff
  position: absolute
  top: 50px
  right: 319px

.Brt-content-quiz
  display: none
  flex: 1

.Brt-slide
  display: none
  max-width: 458px
  padding-left: 20px
  padding-right: 20px
  margin: 0 auto

.Brt-active-slide
  display: block

.Brt-question
  rem(26)
  font-weight: 500
  font-style: normal
  font-stretch: normal
  line-height: 1.38
  letter-spacing: normal
  text-align: left
  color: var(--black)
  margin-bottom: 30px

.Brt-label
  border-radius: 2px
  border: solid 1px #edcdd3
  background-color: var(--white-two)
  display: inline-flex
  align-items: center
  padding-left: 25px
  padding-right: 25px
  margin-bottom: 9px
  cursor: pointer
  padding-top: 15px
  padding-bottom: 15px

.Brt-radio
  display: none

.Brt-question-count
  font-weight: normal
  font-style: normal
  font-stretch: normal
  line-height: normal
  letter-spacing: normal
  text-align: left
  color: var(--black)
  padding-bottom: 17px

.Brt-answer-description
  display: none

.Brt-not-correct-answer
  border: solid 2px var(--darkish-pink)
  background-color: var(--white-two)
  font-weight: bold
  color: var(--darkish-pink)

.Brt-correct-answer
  border: solid 2px var(--greenish)
  background-color: var(--white-two)
  font-weight: bold
  color: var(--greenish)

.Brt-answer-description
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);

.Brt-answer-description
  padding-top: 23px

.Brt-proceed-block
  width: 100%
  max-width: 458px
  padding-left: 20px
  padding-right: 20px
  margin: 0 auto
  display: none
  padding-bottom: 46px

.Brt-reset-block
  width: 100%
  max-width: 458px
  padding-left: 20px
  padding-right: 20px
  margin: 0 auto
  display: none
  padding-bottom: 46px

.Brt-content-results
  display: none
  max-width: 458px
  padding-left: 20px
  padding-right: 20px
  margin: 0 auto
  flex: 1
  position: relative
  z-index: 1

.Brt-results--title
  font-weight: normal
  font-style: normal
  font-stretch: normal
  line-height: normal
  letter-spacing: normal
  text-align: left
  color: var(--black)
  padding-bottom: 62px

.Brt-results-image
  display: none

.Brt-results-image-zero
  position: absolute
  right: 0
  bottom: 33px

.Brt-results-image-three
  position: absolute
  right: 48px
  bottom: 79px

.Brt-results-image-five
  position: absolute
  right: 0
  bottom: 69px

.Brt-results-image-seven
  position: absolute
  right: 0
  bottom: 0

.Brt-results-image-eight
  position: absolute
  right: 0
  bottom: 50px

.Brt-results--header
  rem(36)
  font-weight: 900
  font-style: normal
  font-stretch: normal
  line-height: 1.17
  letter-spacing: normal
  text-align: left
  color: var(--black)
  padding-bottom: 42px

.Brt-share
  display: flex

/* Buttons */
.Brt-button
  border: none
  background-color: transparent
  outline: none

.Brt-button--white
  border-radius: 2px
  box-shadow: 0 15px 22px 0 rgba(121, 54, 68, 0.23)
  background-color: var(--white-two)
  rem(20)
  font-weight: bold
  font-style: normal
  font-stretch: normal
  line-height: normal
  letter-spacing: normal
  text-align: left
  color: var(--black)
  padding-left: 39px
  padding-right: 39px
  white-space: nowrap
  outline: none
  cursor: pointer
  height: 50px
  display: inline-flex

  &:hover, &:focus, &:active
    opacity: 0.8

.Brt--proceed
  rem(20)
  font-weight: bold
  font-style: normal
  font-stretch: normal
  line-height: normal
  letter-spacing: normal
  text-align: left
  color: var(--black)
  padding: 0
  display: flex
  align-items: center
  cursor: pointer

  & img
    padding-left: 14px

.Brt-button--share
  padding-left: 17px
  padding-right: 17px
  margin-right: 15px
  margin-bottom: 10px

.Brt-button--facebook
  rem(17)
  font-weight: bold
  font-style: normal
  font-stretch: normal
  line-height: 1.4
  letter-spacing: normal
  text-align: left
  color: var(--french-blue)
  & img
    padding-right: 12px

@media only screen and (max-width: 910px) {
  .Brt-image-block--tinkoff {
    display: none !important
  }

  .Brt-image-block--money {
    display: none !important
  }

  .Brt-results-image {
    display: none !important
  }
}

@media only screen and (max-width: 768px) {
  .Brt {
    min-height: auto
    padding-bottom: 20px
  }

  .Brt-image-block {
    display: none !important
  }

  .Brt-header {
    width: auto
    padding-right: 20px
    padding-left: 20px
  }

  .Brt-title {
    width: auto
    padding-right: 20px
    padding-left: 20px
  }

  .Brt-description {
    width: auto
    padding-right: 20px
    padding-left: 20px
    padding-bottom: 20px
  }

  .Brt-footer {
    padding-right: 20px
    padding-left: 20px
  }

  .Brt-answer-description {
    padding-bottom: 20px
  }

  .Brt-share {
    padding-bottom: 30px
  }
}

@media only screen and (max-width: 444px) {
  .Brt-share {
    flex-wrap: wrap
  }
}